:root {
  --crimson: #821122;
}

#root {
  /* Make the footer stick to the bottom when there is not enough content. */
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  > [data-testid="browser-router"] {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #main-content {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }

  /* Add border to the header. */
  .site-header-desktop {
    border-bottom: 3px solid var(--crimson);
  }
}

.learningpath-list {
  margin: 2rem;

}

.dashboard-card {
  &.learning-path-card {
    border-top: 5px solid var(--crimson) !important;

    .type-label {
      color: var(--crimson);

      .type-icon {
        background-color: var(--crimson);
      }
    }
  }
  &.course-card {
    border-top: 5px solid #8C8179 !important;

    .type-label {
      color: #8C8179;

      .type-icon {
        background-color: #8C8179;
      }
    }
  }

  .image-col {
    margin-left: -16px;
    margin-top: -20px;
    margin-bottom: -17px;

    .image.vertical {
      max-height: 258px;

      img {
        border-top-right-radius: 0;
      }
    }
  }

  .pgn__card-header-content{
    margin-top: 1.5rem !important;
  }

  .meta {
    font-size: 0.9rem;
    color: #555;
  }

  .type-label {
    font-size: 0.85rem;
    font-weight: 600;

    .type-icon {
      color: white;
      border-radius: 5px;
      padding-left: 2px;
    }
  }
}

.lp-status-badge {
  position: absolute;
  top: 0.95rem;
  right: 1.95rem;

  .status-secondary {
    background-color: #8996A0 !important;
    color: white;
  }

  .status-info {
    background-color: #05A59D !important;
    color: white;
  }

  .status-success {
    background-color: #52854C !important;
    color: white;
  }
}

.learning-path-detail-page {
  font-family: "Open Sans", sans-serif;
  margin: 2rem;

  .hero-section {
    padding: 2rem;

    .back-link {
      font-weight: 600;
    }

    .hero-content {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .hero-text {
        flex: 1 1 0;
        min-width: 300px;
        margin-right: 1rem;

        h1 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .subtitle {
          color: #666;
          font-size: 1rem;
          max-width: 80%;
          margin-bottom: 1.5rem;
        }

        .hero-button {
          margin-bottom: 1rem;
        }
      }

      .hero-image {
        flex: 0 0 300px;
        margin-left: auto;

        img {
          max-height: 500px;
          width: 650px;
          object-fit: cover;
          border-radius: 4px;
        }
      }
    }
  }

  .lp-info {

    section h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .courses-section {
      position: relative;
      left: 50%;
      right: 50%;
      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw;
      background-color: #FBFAF9;
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        margin-left: 6rem;
      }

      .mb-3 {
        max-width: 1360px;
        margin-left: 6rem;
      }
    }
  }
}

.detail-page {
  &.learning-path-detail-page {
    .hero-info-row svg {
        color: var(--crimson);
      }
  }

  .hero-info-row {
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }
}

.lp-tabs {
  background-color: #f2f0ef;
  border-bottom: 1px solid #ddd;
  padding: 0 2rem;
  display: flex;
  align-items: center;

  /* Ugly workaround to make the navbar span across the entire page. */
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);;

  .nav {
    border-bottom: 0;

    .nav-link {
      color: black;
      position: relative;
      font-weight: 600;
      padding: 1rem 1.5rem;
      text-decoration: none !important;

      &:focus {
        box-shadow: none !important;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        background-color: transparent;
        transition: height 0.2s, background-color 0.2s;
      }

      &:hover::after,
      &:active::after {
        height: 4px;
        background-color: var(--crimson);
      }
    }
  }

  .tab-button {
    margin-left: auto;
  }
}

.course-detail-page {
  font-family: "Open Sans", sans-serif;
  margin: 6rem;

  .course-detail-image {
    flex: 0 0 300px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 250px;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .course-detail-type-label {
    color: white;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #8C8179;
    border-radius: 5px;
    padding: 2px 2px;
    max-width: 6rem;
  }
}

.pgn__modal-content-container {
  .course-detail-page {
    background-color: white;
    max-width: 90rem;
    bottom: 6rem;
    padding-top: 2rem;
  }
}

.main-content {
  transition: margin-left 0.3s ease;

  button {
    margin-top: 1rem;
    margin-bottom: 20px;
  }

  .filter-button, .filter-button:hover, .filter-button:active, .pagination .page-link.btn-primary {
    background-color: var(--crimson) !important;
  }
}

.main-content.shifted {
  margin-left: 350px;
}

.filter-panel.sidebar {
  top: 4rem;
  left: -350px;
  width: 350px;
  background-color: white;
  z-index: 999;
  box-shadow: -2px 0 6px rgba(0,0,0,0.15);
  transition: left 0.3s ease-in-out;

  &.open {
    left: 0;
  }

  .btn:not(.filter-close-button) {
    border-radius: 0.25rem;
    border-color: #E0E0E0;

    &.active {
      background-color: var(--crimson);
      color: white;
    }
  }

  .filter-close-button {
    /* Position the button on the side of the panel. */
    position: absolute;
    top: 2.3rem;
    right: -18px;
    z-index: 1000;

    /* Make the button round. */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #293352;

    /* Center the icon inside. */
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: white;
    }
  }
}

.status-options {
  display: flex;
  flex-direction: column;

  .pgn__form-checkbox {
    margin-bottom: 0.75rem;
  }
}

.pgn__annotation-dark-bottom {
  background-color: #E0E0E0 !important;
  color: #000 !important;
}

.pgn__annotation-dark-bottom::after {
  border-top-color: #E0E0E0 !important;
}

.pgn__progress-annotated .progress .pgn__progress-bar--dark::after {
  display: none !important;
}

.pgn__annotation {
  filter: none !important;
}

.pgn__progress-annotated {
  margin-left: 12px;
}

.pgn__card .pgn__card-footer.vertical {
  padding: 0 !important;
}

.lp-detail-type-label {
  background-color: var(--crimson);
  max-width: 10rem;
  color: white;
  border-radius: 5px;
  padding: 2px 2px;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 1.5rem !important;
}

.lp-course-modal-header {
  position: absolute;
  top: 0 !important;

  .pgn__modal-close-container {
    position: relative !important;
    top: 0 !important;
    margin-left: 66vw;
  }
}
