:root {
  --crimson: #821122;
}

#root {
  /* Make the footer stick to the bottom when there is not enough content. */
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  > [data-testid="browser-router"] {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #main-content {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }

  /* Add border to the header. */
  .site-header-desktop {
    border-bottom: 3px solid var(--crimson);
  }
}

.dashboard .dashboard-header .pgn__searchfield {
  width: 30%;
  height: 3rem;

  border-width: 2px;
  border-radius: 0.3rem;
  /* Avoid cutting corners with the border radius. */
  overflow: hidden;

  &.has-focus {
    border-color: black;
  }

  /* Hide the extra border when the search field is focused. */
  &:after {
    display: none;
  }

  button {
    &:hover {
      background: none;
      color: unset;
    }

    &.pgn__searchfield__iconbutton-submit {
      color: black;
    }

    &.pgn__searchfield__iconbutton-reset {
      color: var(--crimson);
    }
  }
}

.pgn__card {
  &.horizontal {
    &.course-card .pgn__card-body {
      border-top: 5px solid #8C8179 !important;
    }

    &.lp-card .pgn__card-body {
        border-top: 5px solid var(--crimson) !important;
    }

    .pgn__card-wrapper-image-cap {
      .pgn__card-image-cap {
        /* The default (`auto`) value does not work in Safari. */
        width: 240px !important;
      }

      .pgn__card-logo-cap {
        top: 1rem;
        left: 1rem !important;
      }
    }

    .pgn__progress-annotated {
      padding-bottom: 0;
      padding-top: 30px;

      .pgn__annotation {
        display: flex;
        align-items: center;
        height: 20px;
        font-size: 12px;

        padding: 0.75rem 0.5rem;

        filter: none;

        background-color: #E0E0E0;
        color: black;

        &::after {
          border-top-color: #E0E0E0;
        }
      }

      .progress {
        background-color: #E0E0E0;

        /* Hide the progress dot. */
        .progress-bar::after {
          display: none;
        }
      }
    }
  }

  &.vertical {
    box-shadow: 0 8px 16px -4px rgba(0,0,0,0.25);

    &.course-card .pgn__card-body {
      border-bottom: 5px solid #8C8179 !important;
    }

    &.lp-card .pgn__card-body {
        border-bottom: 5px solid var(--crimson) !important;
    }

    .pgn__card-wrapper-image-cap {
      /* Prevent overlapping the title with chip icons when the image is missing. */
      padding-bottom: 2rem;
    }

    .pgn__card-body {
      border-radius: 0.25rem;

      .chip-section {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;

        padding: 0;

        .pgn__chip {
          &:not(.status-chip) {
            background-color: unset;

            .pgn__chip__label {
              display: none;
            }
          }

          &.status-chip {
            padding-left: 0.5rem !important;
            .pgn__icon {
              display: none;
            }
          }
        }
      }

      .title {
        padding-top: 2rem !important;
      }
    }

    .pgn__card-footer {
      flex-direction: column;

      a:has(.btn) {
        align-self: flex-end;
        padding: 1rem 0.5rem 1rem 0;

        .btn {
          font-size: 1.35rem;
        }
      }
    }

    .progress {
      background-color: #E0E0E0;
      border: none;

      .progress-bar {
        &[aria-valuenow="0"],
        &[aria-valuenow="1"],
        &[aria-valuenow="2"],
        &[aria-valuenow="3"],
        &[aria-valuenow="4"],
        &[aria-valuenow="5"],
        &[aria-valuenow="6"] {
          color: black;
          text-indent: 150%;
          overflow: unset;
        }
      }
    }
  }

  .pgn__card-body {
    border-top-right-radius: 0.4rem;
  }

  .pgn__card-footer {
    .pgn__chip {
      .pgn__chip__label {
        font-size: 0.9rem !important;
        color: #454545;
        font-weight: 400;
      }

      .pgn__icon {
        color: black !important;
      }
    }

    button {
      margin: 0;
    }
  }
}

.pgn__chip {
  &.course-chip {
    .pgn__chip__label {
      color: #8C8179;
    }

    .pgn__icon {
      background-color: #8C8179;
      color: white !important;
      border-radius: 5px;
    }
  }

  &.lp-chip {
    .pgn__chip__label {
      color: var(--crimson);
    }

    .pgn__icon {
      background-color: var(--crimson);
      color: white !important;
      border-radius: 5px;
    }
  }

  &.status-chip {
    border: 0;

    &.status-secondary {
      background-color: #8996A0;
    }

    &.status-info {
      background-color: #05A59D;
    }

    &.status-success {
      background-color: #52854C;
    }

    .pgn__chip__label, .pgn__icon {
      color: white !important;
    }
  }

  .pgn__chip__label {
    font-size: 0.85rem !important;
  }

  .pgn__icon {
    width: 21px !important;
    height: 21px !important;

    svg {
      width: 80%;
      margin: auto;
    }
  }
}

.detail-page {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  &:has(.modal-header) {
    /* Move the modal to the top right corner. */
    margin: 0 0 0 auto;
    bottom: 0;

    /* Fill full height with scrolling for content. */
    height: 100vh;
    overflow-y: auto;

    background-color: white;
    max-width: 90rem;

    .modal-header {
      /* Match the height of the platform's header. */
      height: 64px;
    }

    .card {
      border-top: 3px solid #8C8179;
      border-radius: 0;

      .pgn__card-wrapper-image-cap {
        padding: 1.5rem;

        .pgn__card-logo-cap {
          top: 2.5rem !important;
          right: 2.5rem !important;
        }
      }
    }
  }

  .hero {
    .card {
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
      box-shadow: none;

      .pgn__card-wrapper-image-cap {
        flex: 0 0 auto;
        height: 320px;
        min-width: 320px !important;
        max-width: unset !important;

        .pgn__card-image-cap {
          border-radius: 0.375rem !important;

          /* The default (`auto`) value does not work in Safari. */
          width: 100% !important;
        }

        .pgn__card-logo-cap {
          top: 1rem;
          left: unset !important;
          right: 1rem;
        }
      }
    }

    .back-link {
      color: black;
    }

    .pgn__chip {
      padding: 2px 6px 2px 2px;

      &.lp-chip {
        background-color: var(--crimson);
      }

      &.course-chip {
        background-color: #8C8179;
      }

      .pgn__chip__label {
        color: white;
        font-size: 0.95rem !important;
      }
    }

    .hero-info {
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;

      &.lp-hero-info svg {
        color: var(--crimson);
      }

      &.course-hero-info svg {
        color: #8C8179;
      }
    }
  }

  .tabs {
    background-color: #f2f0ef;
    border-bottom: 1px solid #ddd;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    .nav {
      border-bottom: 0;

      .nav-link {
        color: black;
        position: relative;
        font-weight: 600;
        padding: 1rem 1.5rem;
        text-decoration: none !important;

        &:focus {
          box-shadow: none !important;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 0;
          background-color: transparent;
          transition: height 0.2s, background-color 0.2s;
        }

        &:hover::after,
        &:active::after {
          height: 4px;
          background-color: var(--crimson);
        }
      }
    }

    .tab-button {
      margin-left: auto;
    }
  }

  .lp-info {
    section {
      padding: 5rem 10rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    #courses-section-wrapper {
      background-color: #FBFAF9;
    }
  }
}

.main-content {
  transition: margin-left 0.3s ease;

  &.shifted {
    margin-left: 350px;
  }

  button {
    margin-top: 1rem;
    margin-bottom: 20px;

    &.filter-button, &.filter-button:hover, &.filter-button:active, &.page-link.btn-primary {
      background-color: var(--crimson) !important;
    }

    &.page-link {
      border-radius: 0;
    }
  }

  .pagination {
    .dropdown-toggle {
      padding-right: 8px;
    }

    .page-item > .btn-icon-primary:hover {
      color: unset;
      background-color: #E1DDDB;
    }
  }
}

.filter-panel.sidebar {
  top: 4rem;
  left: -350px;
  width: 350px;
  background-color: white;
  z-index: 999;
  box-shadow: -2px 0 6px rgba(0,0,0,0.15);
  transition: left 0.3s ease-in-out;

  &.open {
    left: 0;
  }

  .btn:not(.filter-close-button) {
    border-radius: 0.25rem;
    border-color: #E0E0E0;

    &.active {
      background-color: var(--crimson);
      color: white;
    }
  }

  .filter-close-button {
    /* Position the button on the side of the panel. */
    position: absolute;
    top: 2.3rem;
    right: -18px;
    z-index: 1000;

    /* Make the button round. */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #293352;

    /* Center the icon inside. */
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: white;
    }
  }

  .status-options {
    display: flex;
    flex-direction: column;

    .pgn__form-checkbox {
      margin-bottom: 0.75rem;
    }
  }
}
