:root {
  --crimson: #821122;
  --m-teal: #00a69c;
  --icon-blue: #293352;
}

#root {
  /* Make the footer stick to the bottom when there is not enough content. */
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  > [data-testid="browser-router"] {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #main-content {
    flex: 1 0 auto;

    .alert-content{
      color: white;

      &.account-activation {
        background-color: var(--crimson);
      }

      &.enterprise-dashboard {
        background-color: #166A79;
      }

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  header.learning-header > div {
    max-width: unset;
  }

  .pgn__spinner {
    color: var(--crimson) !important;
    /* Move the spinner to the center of the screen. */
    margin-bottom: 200px;
  }

  footer {
    flex-shrink: 0;
  }
}

.dashboard {
  /* Desktop version of the search field. */
  .dashboard-header .pgn__searchfield {
    width: 20%;
  }

  /* Prevent the mobile search field from changing the height of the container. */
  .mobile-search .pgn__searchfield .pgn__searchfield__iconbutton-submit {
    visibility: hidden
  }

  .pgn__searchfield {
    height: 3rem;
    border-width: 2px;
    border-radius: 0.3rem;
    /* Avoid cutting corners with the border radius. */
    overflow: hidden;

    &.has-focus {
      border-color: black;
    }

    /* Hide the extra border when the search field is focused. */
    &:after {
      display: none;
    }

    button {
      &:hover {
        background-color: transparent;
        color: unset;
      }

      &.pgn__searchfield__iconbutton-submit {
        color: black;
      }

      &.pgn__searchfield__iconbutton-reset {
        color: var(--crimson);
      }
    }
  }

  /* Notification bubble with the number of active filters on mobile. */
  .pgn__bubble {
    min-width: 1rem;
    min-height: 1rem;
    background-color: var(--m-teal) !important;
  }

  .dashboard-content {
    transition: margin-left 0.3s ease;

    &.shifted {
      margin-left: 350px;
    }

    button {
      margin-top: 1rem;
      margin-bottom: 20px;

      &.filter-button, &.filter-button:hover, &.filter-button:active, &.page-link.btn-primary {
        background-color: var(--crimson) !important;
      }

      &.page-link {
        border-radius: 0;
      }
    }

    .dashboard-item {
      max-width: 1000px;
    }

    .pagination {
      .dropdown-toggle {
        padding-right: 8px;
      }

      .page-item > .btn-icon-primary:hover {
        color: unset;
        background-color: #E1DDDB;
      }
    }
  }
}

.pgn__card {
  min-height: 240px;

  &.horizontal {
    &.course-card .pgn__card-body {
      border-top: 5px solid #8C8179 !important;
    }

    &.lp-card .pgn__card-body {
        border-top: 5px solid var(--crimson) !important;
    }

    .pgn__card-wrapper-image-cap {
      .pgn__card-image-cap {
        /* The default (`auto`) value does not work in Safari. */
        width: 240px !important;
      }

      .pgn__card-logo-cap {
        top: 1rem;
        left: 1rem !important;
      }
    }
  }

  &.vertical {
    box-shadow: 0 8px 16px -4px rgba(0,0,0,0.25);

    &.course-card .pgn__card-body {
      border-bottom: 5px solid #8C8179;
    }

    &.lp-card .pgn__card-body {
        border-bottom: 5px solid var(--crimson);
    }

    .pgn__card-wrapper-image-cap {
      /* Prevent overlapping the title with chip icons when the image is missing. */
      padding-bottom: 2rem;
    }

    .pgn__card-body {
      border-radius: 0.25rem;

      .chip-section {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;

        padding: 0;

        .pgn__chip {
          &:not(.status-chip) {
            background-color: unset;

            .pgn__chip__label {
              display: none;
            }
          }

          &.status-chip {
            padding-left: 0.5rem !important;
            .pgn__icon {
              display: none;
            }
          }
        }
      }
    }

    .pgn__card-footer {
      flex-direction: column;

      div:has(.btn) {
        align-self: flex-end;
        padding: 1rem 0.5rem 1rem 0;

        .btn {
          font-size: 1.35rem;
        }
      }
    }

    .progress .progress-bar {
      &[aria-valuenow="7"],
      &[aria-valuenow^="7."],
      &[aria-valuenow="8"],
      &[aria-valuenow^="8."],
      &[aria-valuenow="9"],
      &[aria-valuenow^="9."],
      &[aria-valuenow="10"],
      &[aria-valuenow^="10."],
      &[aria-valuenow="11"],
      &[aria-valuenow^="11."],
      &[aria-valuenow="12"],
      &[aria-valuenow^="12."] {
        color: black;
        text-indent: 140%;
        overflow: unset;
        padding-right: 0;
      }
    }
  }

  /* Adjust box shadow and turn off the border radius for the bottom corners when there is an alert below the card. */
  &:has(+ [role="alert"]) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 0.125rem #00000026, 0 0 0.25rem #00000026;

    .pgn__card-body {
      border-bottom: 0 !important;
    }

    img.pgn__card-image-cap {
      border-bottom-left-radius: 0 !important;
    }
  }

  /* Style the alert below the card. */
  &+ [role="alert"] {
    background-color: #F2F0EF;
    box-shadow: 0 0.0625rem 0.125rem #00000026, 0 0.0625rem 0.25rem #00000026;

    .pgn__pageBanner-content .pgn__icon {
      color: var(--icon-blue);
    }
  }

  .pgn__card-body {
    border-top-right-radius: 0.4rem;

    .progress {
      background-color: #E0E0E0;
      border: none;
    }
  }

  .pgn__card-footer {
    .pgn__chip {
      .pgn__chip__label {
        font-size: 0.9rem !important;
        color: #454545;
        font-weight: 400;
      }

      .pgn__icon {
        color: black !important;
      }
    }

    button {
      margin: 0;
    }
  }
}

.progress {
  background-color: #E0E0E0;
  border: none;

  .progress-bar {
    &[aria-valuenow="0"],
    &[aria-valuenow^="0."],
    &[aria-valuenow="1"],
    &[aria-valuenow^="1."],
    &[aria-valuenow="2"],
    &[aria-valuenow^="2."],
    &[aria-valuenow="3"],
    &[aria-valuenow^="3."],
    &[aria-valuenow="4"],
    &[aria-valuenow^="4."],
    &[aria-valuenow="5"],
    &[aria-valuenow^="5."],
    &[aria-valuenow="6"],
    &[aria-valuenow^="6."] {
      color: black;
      text-indent: 150%;
      overflow: unset;
      padding-right: 0;
    }

    &[aria-valuenow="0"],
    &[aria-valuenow^="0."] {
      text-indent: 0.75rem;
    }

    &[aria-valuenow="1"],
    &[aria-valuenow^="1."] {
      text-indent: 200%;
    }

    &[aria-valuenow="5"],
    &[aria-valuenow^="5."],
    &[aria-valuenow="6"],
    &[aria-valuenow^="6."] {
      text-indent: 120%;
    }

    text-align: end;
    padding-right: 0.5rem;
  }
}

.pgn__chip {
  &.course-chip {
    .pgn__chip__label {
      color: #8C8179;
    }

    .pgn__icon {
      background-color: #8C8179;
      color: white !important;
      border-radius: 5px;
    }
  }

  &.lp-chip {
    .pgn__chip__label {
      color: var(--crimson);
    }

    .pgn__icon {
      background-color: var(--crimson);
      color: white !important;
      border-radius: 5px;
    }
  }

  &.status-chip {
    border: 0;

    &.status-secondary {
      background-color: #8996A0;
    }

    &.status-info {
      background-color: #05A59D;
    }

    &.status-success {
      background-color: #52854C;
    }

    .pgn__chip__label, .pgn__icon {
      color: white !important;
    }
  }

  .pgn__chip__label {
    font-size: 0.85rem !important;
  }

  .pgn__icon {
    width: 21px !important;
    height: 21px !important;

    svg {
      width: 80%;
      margin: auto;
    }
  }
}

.detail-page {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  &:has(.modal-header) {
    /* Move the modal to the top right corner. */
    margin: 0 0 0 auto;
    bottom: 0;

    /* Fill full height with scrolling for content. */
    height: 100vh;
    overflow-y: auto;

    background-color: white;

    /* Display the modal at full width on mobile. */
    &:has(.card.horizontal) {
      width: min(90vw, 1108px);
    }

    .modal-header {
      /* Match the height of the platform's header. */
      height: 66px;

      .pgn__modal-close-button {
        height: 40px;
        width: 40px;

        &:hover {
          color: white;
          background-color: var(--crimson);
        }

        &:active {
          color: var(--crimson);
          background-color: transparent;
        }
      }
    }

    .card {
      border-top: 3px solid #8C8179;
      border-radius: 0;

      .pgn__card-wrapper-image-cap.horizontal {
        padding: 1.5rem;

        .pgn__card-logo-cap {
          top: 2.5rem !important;
          right: 2.5rem !important;
        }
      }
    }
  }

  .hero {
    .card {
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
      box-shadow: none;

      .pgn__card-wrapper-image-cap {
        &.horizontal {
          flex: 0 0 auto;
          height: 320px;
          min-width: 320px !important;
          max-width: unset !important;

          .pgn__card-image-cap {
            border-radius: 0.375rem;

            /* The default (`auto`) value does not work in Safari. */
            width: 100% !important;
          }

          .pgn__card-logo-cap {
            top: 1rem;
            left: unset !important;
            right: 1rem;
          }
        }

        &.vertical .pgn__card-image-cap {
          border-radius: 0;
        }
      }
    }

    .back-link {
      color: black;
    }

    .pgn__chip {
      padding: 2px 6px 2px 2px;

      &.lp-chip {
        background-color: var(--crimson);
      }

      &.course-chip {
        background-color: #8C8179;
      }

      .pgn__chip__label {
        color: white;
        font-size: 0.95rem !important;
      }
    }

    .hero-info {
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      gap: 0.75rem;

      .text-muted {
        font-size: 0.8rem;
      }

      &.lp-hero-info svg {
        color: var(--crimson);
      }

      &.course-hero-info svg {
        color: #8C8179;
      }
    }
  }

  .tabs {
    background-color: #f2f0ef;
    border-bottom: 1px solid #ddd;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);

    .nav {
      border-bottom: 0;

      .nav-link {
        color: black;
        position: relative;
        font-weight: 600;
        padding: 1rem 1.5rem;
        text-decoration: none !important;
        border: none;

        &:focus {
          box-shadow: none !important;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 0;
          background-color: transparent;
          transition: height 0.2s, background-color 0.2s;
        }

        &:hover::after,
        &.active::after {
          height: 4px;
          background-color: var(--crimson);
        }
      }
    }

    .tab-button {
      margin-left: auto;
    }
  }

  .lp-info {
    .desktop-content section {
      padding: 5rem 10rem;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    .mobile-content .collapsible-card {
      background-color: #FBFAF9;

      .collapsible-body {
        padding: 1rem;
      }
    }

    #courses-section-wrapper {
      section {
        max-width: 1320px;
      }
    }
  }
}

.filter-panel.sidebar {
  top: 4.3rem;
  left: -350px;
  width: 350px;
  background-color: white;
  z-index: 999;
  box-shadow: -2px 0 6px rgba(0,0,0,0.15);
  transition: left 0.3s ease-in-out;

  &.open {
    left: 0;
  }

  &.mobile {
    width: 100%;
    height: 100%;

    .btn-group {
      width: 100%;
    }
  }

  .filter-clear-link {
    color: var(--m-teal);
    border: none;
    font-size: small;
  }

  .btn {
    border-radius: 0.25rem;
  }

  .filter-content-buttons .btn {
    border-color: #E0E0E0;

    &.active {
      background-color: var(--crimson);
      color: white;
    }
  }

  .filter-actions {
    gap: 2rem;

    .btn {
      /* This is !important to override edges in the middle of the button group. */
      border-radius: 0.25rem !important;
      border-color: var(--icon-blue);
    }
  }
}

.courses-with-progress-list {
  .course-with-progress {
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: start;

    .progress-indicator-wrapper {
      flex-shrink: 0;
      width: 36px;
      position: relative;
    }

    .course-card-wrapper {
      flex: 1;
      margin-left: 1rem;
      min-height: 100px;
    }
  }
}
