:root {
  --crimson: #821122;
}

#root {
  /* Make the footer stick to the bottom when there is not enough content. */
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  > [data-testid="browser-router"] {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #main-content {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }

  /* Add border to the header. */
  .site-header-desktop {
    border-bottom: 3px solid var(--crimson);
  }
}

.dashboard .dashboard-header .pgn__searchfield {
  width: 30%;
  height: 3rem;

  border-width: 2px;
  border-radius: 0.3rem;
  /* Avoid cutting corners with the border radius. */
  overflow: hidden;

  &.has-focus {
    border-color: black;
  }

  /* Hide the extra border when the search field is focused. */
  &:after {
    display: none;
  }

  button {
    &:hover {
      background: none;
      color: unset;
    }

    &.pgn__searchfield__iconbutton-submit {
      color: black;
    }

    &.pgn__searchfield__iconbutton-reset {
      color: var(--crimson);
    }
  }
}

.pgn__card {
  &.course-card .pgn__card-body {
    border-top: 5px solid #8C8179 !important;
  }

  &.lp-card .pgn__card-body {
      border-top: 5px solid var(--crimson) !important;
  }

  .pgn__card-wrapper-image-cap .pgn__card-logo-cap {
    top: 1rem;
    left: 1rem !important;
  }

  .pgn__card-body {
    border-top-right-radius: 0.4rem;
  }

  .pgn__chip {
    .pgn__chip__label {
      font-size: 0.85rem;
    }

    .pgn__icon {
      width: 21px;
      height: 21px;
    }
  }

  .pgn__card-footer {
    .pgn__chip {
      .pgn__chip__label {
        font-size: 0.9rem;
        color: #454545;
        font-weight: 400;
      }

      .pgn__icon {
        color: black !important;
      }
    }

    button {
      margin: 0;
    }
  }

  .course-chip {
    .pgn__chip__label {
      color: #8C8179;
    }

    .pgn__icon {
      background-color: #8C8179;
      color: white !important;
      font-size: 0.85rem;
      border-radius: 5px;
    }
  }

  .lp-chip {
    .pgn__chip__label {
      color: var(--crimson);
    }

    .pgn__icon {
      background-color: var(--crimson);
      color: white !important;
      font-size: 0.85rem;
      border-radius: 5px;

      svg {
        width: 80%;
        margin: auto;
      }
    }
  }

  .status-chip {
    &.status-secondary {
      background-color: #8996A0;
    }

    &.status-info {
      background-color: #05A59D;
    }

    &.status-success {
      background-color: #52854C;
    }

    .pgn__chip__label, .pgn__icon {
      color: white !important;
    }
  }

  .pgn__progress-annotated {
    padding-bottom: 0;
    padding-top: 30px;

    .pgn__annotation {
      display: flex;
      align-items: center;
      height: 20px;
      font-size: 12px;

      filter: none;

      background-color: #E0E0E0;
      color: black;

      &::after {
        border-top-color: #E0E0E0;
      }
    }

    .progress .progress-bar::after {
      display: none;
    }
  }
}

.learning-path-detail-page {
  font-family: "Open Sans", sans-serif;
  margin: 2rem;

  .hero-section {
    padding: 2rem;

    .hero-content {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .hero-text {
        flex: 1 1 0;
        min-width: 300px;
        margin-right: 1rem;

        h1 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .subtitle {
          color: #666;
          font-size: 1rem;
          max-width: 80%;
          margin-bottom: 1.5rem;
        }

        .hero-button {
          margin-bottom: 1rem;
        }
      }

      .hero-image {
        flex: 0 0 300px;
        margin-left: auto;

        img {
          max-height: 500px;
          width: 650px;
          object-fit: cover;
          border-radius: 4px;
        }
      }
    }
  }

  .lp-info {

    section h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .courses-section {
      position: relative;
      left: 50%;
      right: 50%;
      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw;
      background-color: #FBFAF9;
      padding-top: 2rem;
      padding-bottom: 2rem;

      h2 {
        margin-left: 6rem;
      }

      .mb-3 {
        max-width: 1360px;
        margin-left: 6rem;
        margin-right: 6rem;
      }
    }
  }
}

.detail-page {
  &.learning-path-detail-page {
    .hero-info-row svg {
        color: var(--crimson);
      }
  }

  .hero-info-row {
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  .hero-section .back-link {
    color: black;
  }
}

.lp-tabs {
  background-color: #f2f0ef;
  border-bottom: 1px solid #ddd;
  padding: 0 2rem;
  display: flex;
  align-items: center;

  /* Ugly workaround to make the navbar span across the entire page. */
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);;

  .nav {
    border-bottom: 0;

    .nav-link {
      color: black;
      position: relative;
      font-weight: 600;
      padding: 1rem 1.5rem;
      text-decoration: none !important;

      &:focus {
        box-shadow: none !important;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        background-color: transparent;
        transition: height 0.2s, background-color 0.2s;
      }

      &:hover::after,
      &:active::after {
        height: 4px;
        background-color: var(--crimson);
      }
    }
  }

  .tab-button {
    margin-left: auto;
  }
}

.course-detail-page {
  font-family: "Open Sans", sans-serif;
  margin: 6rem;

  .course-detail-image {
    flex: 0 0 300px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 250px;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .course-detail-type-label {
    color: white;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #8C8179;
    border-radius: 5px;
    padding: 2px 2px;
    max-width: 6rem;
  }
}

.pgn__modal-content-container {
  .course-detail-page {
    background-color: white;
    max-width: 90rem;
    bottom: 6rem;
    padding-top: 2rem;
  }
}

.main-content {
  transition: margin-left 0.3s ease;

  &.shifted {
    margin-left: 350px;
  }

  button {
    margin-top: 1rem;
    margin-bottom: 20px;

    &.filter-button, &.filter-button:hover, &.filter-button:active, &.page-link.btn-primary {
      background-color: var(--crimson) !important;
    }

    &.page-link {
      border-radius: 0;
    }
  }
}

.filter-panel.sidebar {
  top: 4rem;
  left: -350px;
  width: 350px;
  background-color: white;
  z-index: 999;
  box-shadow: -2px 0 6px rgba(0,0,0,0.15);
  transition: left 0.3s ease-in-out;

  &.open {
    left: 0;
  }

  .btn:not(.filter-close-button) {
    border-radius: 0.25rem;
    border-color: #E0E0E0;

    &.active {
      background-color: var(--crimson);
      color: white;
    }
  }

  .filter-close-button {
    /* Position the button on the side of the panel. */
    position: absolute;
    top: 2.3rem;
    right: -18px;
    z-index: 1000;

    /* Make the button round. */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #293352;

    /* Center the icon inside. */
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: white;
    }
  }

  .status-options {
    display: flex;
    flex-direction: column;

    .pgn__form-checkbox {
      margin-bottom: 0.75rem;
    }
  }
}

.lp-detail-type-label {
  background-color: var(--crimson);
  max-width: 10rem;
  color: white;
  border-radius: 5px;
  padding: 2px 2px;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 1.5rem !important;
}

.lp-course-modal-header {
  position: absolute;
  top: 0 !important;

  .pgn__modal-close-container {
    position: relative !important;
    top: 0 !important;
    margin-left: 66vw;
  }
}
